.secondary_header {
  display: flex;
  justify-content: flex-end;
  margin-top: .5em;
}

.secondary_header__link {
  height: 100%;
  display: inline-block;
  padding: 0 .5em;
}

.icon {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 2em;
  width: 2em;
  vertical-align: middle;
}

.facebook {
  background-image: url('/assets/facebook.png');
}

.instagram {
  background-image: url('/assets/instagram.png');
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('/assets/rio-suave-vineyard-blur-960x540.jpg');
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  margin-top: -2.5em;
  z-index: 2;

  transition-property: min-height;
  transition-duration: 2s;
}

.hero-image--full {
  min-height: 540px;
}

.hero-image--short {
  min-height: 250px;
}

.hero--overlay {
  color: #ffffff;
  margin: auto;
  text-align: center;
  background-image: url('/assets/mobile_logo_fixed_blured.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 350px;
  width: 350px;
}