.secondary_header {
  display: flex;
  justify-content: flex-end;
}

.icon {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 2em;
  margin-right: .5em;
  width: 2em;
  vertical-align: middle;
}

.facebook {
  background-image: url('/assets/facebook.png');
}

.instagram {
  background-image: url('/assets/instagram.png');
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('/assets/rio-suave-vineyard-blur-960x540.jpg');
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  margin-top: -2em;
  min-height: 540px;
  z-index: 2;

  transition-property: min-height;
  transition-duration: 2s;
}

.hero--overlay {
  color: #ffffff;
  margin: auto;
  text-align: center;
  background-image: url('/assets/mobile_logo_fixed_blured.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 350px;
  width: 350px;
}

.hero--overlay h1, .hero--overlay h2 {
  font-weight: 100;
  margin: 0;
}

.hero--overlay > h1 {
  font-size: 3em;
}

.hero--overlay > h2 {
  font-size: 2em;
  letter-spacing: 10px;
  padding-left: 10px;
}