<div class='secondary_header'>
  <div>
      <a href='https://www.facebook.com/pg/Rio-Suave-Vineyard-135469280631789/posts/'>
        <i class='icon facebook'></i>
      </a>
      <a href='https://www.instagram.com/rio_suave_vineyard'>
        <i class='icon instagram'></i>
      </a>
  </div>
</div>
<rs-navbar></rs-navbar>
<div class='hero-image' [ngStyle]="isHome ? hero-image : {'min-height': '250px'}">
  <div class='hero--overlay'>
      <!--<h1>{{pageTitle}}</h1> -->
      <!--<h2>Vineyard</h2>-->
  </div>
</div>