<div class='secondary_header'>
  <div class='secondary_header__container'>
      <a class='secondary_header__link' href='https://www.facebook.com/pg/Rio-Suave-Vineyard-135469280631789/posts/' target='_blank'>
        <i class='icon facebook'></i>
      </a>
      <a class='secondary_header__link' href='https://www.instagram.com/rio_suave_vineyard' target='_blank'>
        <i class='icon instagram'></i>
      </a>
  </div>
</div>
<rs-navbar></rs-navbar>
<div [ngClass]="(isHome == true) ? 'hero-image hero-image--full' : 'hero-image hero-image--short'">
  <div class='hero--overlay'></div>
</div>