<form class='contact-form' [formGroup]='contactForm' (ngSubmit)='submitForm()'> 
  <div class='contact-form__container'>
    <div>
      <label class='label'>Name: </label>
      <input class='input' type="text" formControlName='name' required minlength='5' />
      <div *ngIf="name.errors && (name.dirty || name.touched)">
        <div [hidden]="!name.errors.required">
          Name is required!
        </div>
        <div [hidden]="!name.errors.minlength">
          Name must be at least 5 characters long!
        </div>
      </div>
    </div>
    <div>
      <label class='label'>Email: </label>
      <input class='input' type="email" formControlName='email' required/>
      <div *ngIf="email.errors && (email.dirty || email.touched)">
        <div [hidden]="!email.errors.required">
          Email is required!
        </div>
        <div [hidden]="!email.errors.email">
          Invalid email format!
        </div>
      </div>
    </div>
    <div>
      <label class='label'>Comments:</label>
      <textarea class='input textarea' formControlName='comments' required minlength='10'></textarea>
      <div *ngIf="comments.errors && (comments.dirty || comments.touched)">
        <div [hidden]="!comments.errors.required">
          Comments are required!
        </div>
        <div [hidden]="!comments.errors.minlength">
          Comments must be at least 10 characters long!
        </div>
      </div>
    </div>
    <div class='contact-form__submit-container'>
        <input type='submit' value='Submit' [disabled]='!contactForm.valid'>
    </div>
  </div>
</form>