.footer {
    background-color: #ded3a6; /*#D9C78B;*/
    /*background-image: linear-gradient(rgba(217, 199, 139), rgba(236, 227, 197));
    */display: grid;
    grid-template-areas: 
        'company-data'
        'sitemap'
        'mailing-list'
        'social-media'
        'copyright';
}

.footer__data-container {
    grid-area: company-data;
    text-align: center;
}

.footer__logo-container {
    width: 100%;
}

.footer__logo {
    max-width: 20%;
}

.footer__contact-container {
    display: flex;
    justify-content: center;
}

.footer__contact {
    text-align: left;
}

.sitemap {
    grid-area: sitemap;
}

rs-mailing-list {
    display:inline-block;
    grid-area: mailing-list;
}

.footer__copyright {
    font-size: .75em;
    grid-area: copyright;
    margin: 0;
}

@media (min-width: 550px) {
    .footer {
      grid-template-areas:
        'company-data sitemap mailing-list'
        'social-media social-media social-media'
        'copyright copyright copyright';
    }

    .footer__logo {
        max-width: 30%;
    }
  }