.footer {
    background-color: #E6DEC1; /*#D9C78B;*/
    /*background-image: linear-gradient(rgba(217, 199, 139), rgba(236, 227, 197));
    */display: flex;
    justify-content: center;
}

.footer__container {
    display: grid;
    grid-template-areas: 
    'company-data'
    'mailing-list'
    'copyright';
    max-width: 1366px;
    width: 100%;
}

.footer__data-container {
    grid-area: company-data;
    text-align: center;
}

.footer > div {
    margin: 5px;
}

.footer__logo-container {
    width: 100%;
}

.footer__logo {
    max-width: 20%;
    min-width: 160px;
}

.footer__contact-container {
    display: flex;
    justify-content: center;
}

.footer__contact {
    text-align: left;
}

.footer__sitemap {
    display: none;
    grid-area: sitemap;
    text-align: center;
}

.footer__mailing-list {
    grid-area: mailing-list;
}

.footer__copyright {
    font-size: .75em;
    grid-area: copyright;
    margin: 0;
}

@media (min-width: 450px) {
    .footer__container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'company-data mailing-list'
            'copyright copyright';
    }
  }

@media (min-width: 668px) {
    .footer__container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            'company-data sitemap mailing-list'
            'copyright copyright copyright';
    }

    .footer__sitemap {
        display: block;
    }
  }