<div class='footer' id='footer'>
    <div class='footer__logo-container'>
        <img class='footer__logo' src='../../assets/mobile_logo_fixed_blured.png'/>
    </div>
    <div class='footer__data-container'>
        <div class='footer__data'>
            <p>Open Fri-Sun 12-6PM</p>
            <p>66 Rd 4556
                Blanco, NM 87412</p>
            <p>(970) 219-1693</p>
        </div>
    </div>
    <rs-mailing-list></rs-mailing-list>
    <div class='social-media'>
        <a href='https://www.facebook.com/Rio-Suave-Vineyard-135469280631789/posts/' target="_blank">
            <img src='../../assets/facebook-logo-footer.png' />
        </a>
        <a href="https://www.instagram.com/rio_suave_vineyard/" target='_blank'>
            <img src='../../assets/instagram-logo-footer.png' />
        </a>
    </div>
    <p class='footer__copyright'>
        &copy; 2019 Rio Suave Vineyard. All Rights Reserved.
    </p>
</div>