.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('/assets/rio-suave-vineyard-blur-960x540.jpg');
  background-color: #cccccc;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  z-index: 2;

  transition-property: height;
  transition-duration: 2s;
}

.hero-image--full {
  height: 95vh;
}

.hero-image--short {
  height: 200px;
}

.hero--overlay {
  color: #ffffff;
  margin: auto;
  text-align: center;
  background-image: url('/assets/mobile_logo_fixed_blured.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
  width: 350px;
}

@media screen and (min-width: 768px) {
  .hero-image {
    margin-top: -51px; /* TODO: Fix this to use height only */
  }
}