.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('/assets/rio-suave-vineyard-blur-960x540.jpg');
  background-color: #cccccc;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  z-index: 2;

  transition-property: height;
  transition-duration: 2s;
}

.hero-image--full {
  height: calc(100vh - 62px);
}

.hero-image--short {
  height: 38vh;
}

.header__container {
  margin: auto;
  text-align: center;
}

.header__container--hidden {
  display: none;
}

.header__logo {
  background-image: url('/assets/mobile_logo_fixed_blurred.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  min-height: 300px;
  min-width: 350px;
  width: auto;
  height: auto;
}

.header__link {
  color: #ffffff;
  font-size: 1.25em;
  text-decoration: none;

  border: 2px solid #ffffff;/* #4F4F4F;*/
  border-radius: 4px;
  display: inline-block;
  padding: 10px 20px;
}

.header__link:hover {
  background-color: #66a56a;
  border-color: #66a56a;
}

.header__arrow {
  text-align: center;
}

.header__arrow--hidden {
  display:none ;
}

@media screen and (min-width: 768px) {
  .hero-image {
    margin-top: -51px; /* TODO: Fix this to use height only */
  }

  .hero-image--full {
    height: 100vh;
  }
}