
<rs-navbar></rs-navbar>
<div [ngClass]="(isHome == true) ? 'hero-image hero-image--full' : 'hero-image hero-image--short'">
  <div [ngClass]="(isHome == true) ? 'header__container' : 'header__container--hidden'">
    <div class='header__logo'></div>
    <a class='header__link' routerLink='/story'>Read More</a>
  </div>
  <div [ngClass]="(isHome == true ) ? 'header__arrow' : 'header__arrow--hidden'">
    <img src='../../../assets/arrow-down.png' routerLink='home' fragment='footer' />
  </div>
</div>