<nav class='navbar'>
    <div class='navbar__logo'></div>
    <ul class='navbar__list'>
        <li class='navbar__item'>
            <a class='navbar__link' routerLink='/home' routerLinkActive='navbar__link--active'>
                <i class='navbar__icon navbar__icon--home'></i>
                <p class='navbar__linktext'>Home</p>
            </a>
        </li>
        <li class='navbar__item'>
            <a class='navbar__link' routerLink='/location' routerLinkActive='navbar__link--active'>                
                <i class="navbar__icon navbar__icon--location"></i>
                <p class='navbar__linktext'>Location</p>
            </a>
        </li>
        <li class='navbar__item'>
            <a class='navbar__link' routerLink='/contact' routerLinkActive='navbar__link--active'>                
                <i class="navbar__icon navbar__icon--contact"></i>
                <p class='navbar__linktext'>Contact</p>
            </a>
        </li>
    </ul>
</nav>