<div class='mailing-list'>
  <h3 class='mailing-list__header'>Stay Connected!</h3>
  <form [formGroup]="subscriptionForm" (ngSubmit)="onSubscribe()" [ngStyle]="{ display: (isSubscribed === true) ? 'none' : 'block' }">
    <div class='mailing-list__email-outer-wrapper'>
        <div class='mailing-list__email-inner-wrapper'>
          <label class='mailing-list__label'>Email:</label>
          <input formControlName='email' class='mailing-list__input' type="email" placeholder="johndoe@example.com" />
        </div>
    </div>
    <button class='mailing-list__submit' type="submit">Subscribe</button>
  </form>
  <p [ngStyle]="{ display: (isSubscribed === true) ? 'block' : 'none' }">Subscribed to our mailing list!</p>
</div>