<h1>Our Story</h1>
<div class='story__container-outside'>
    <div class='story__container'>
        <div class='story__content'>
            <p class='story__paragraph'>
                Nestled in the heart of northwest New Mexico, 
                    Rio Suave Vineyard offers picturesque views that pair well with any 
                    one of our many wines. Family-owned and operated, you can expect a 
                    warm atmosphere while overlooking the vineyard, a 150+ acre farm, 
                    and a beautiful 1,000' mesa.
            </p>
            <p class='story__paragraph'>
                The magic of Rio Suave happens on a small family farm along the San 
                Juan River in Blanco, New Mexico. Blessed with an abundance of water 
                and fertile soil, this farm has been in our family for 
                generations and is a source of pride and joy. It is our goal to grow quality grapes 
                and create exquisite wines to be shared with family and friends. Our hope is
                to deliver a product that will carry on our family values and love for years to come. 
            </p>
            <p>
                And while you're here, keep an eye out for one of our mascots: Jones!
            </p>
        </div>
        <rs-artwork class='story__artwork'></rs-artwork>
    </div>
</div>