.events {
    background-color: #fff;
    padding: 1em 0;
}

.events__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.events__item {
    align-items: center;
    border: solid 2px #4F4F4F;
    display: flex;
    margin: 1em 0;
}

.events__item-container {
    width: 100%;
}

.events__date--container {
    background-color: #51627C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: top;
}

.events__date {
    color: #fff;
    text-align: center;
    width: 100%;
}

.events__date--day {
    font-size: 4em;
}

.events__data {
    display: inline-block;
}

.events__name {
    font-size: 1.5em;
    margin: 0;
}

.events__data > p {
    margin: 0;
}

.events__item-description--collapsed {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
  }

  .events__item-description--expanded {
      display: block;
  }

@media screen and (min-width: 400px) {
    .events__item-container {
      display: flex;
    }
  }