.mailing-list {
    text-align: center;
}

.mailing-list__header {
    margin: 0;
}

.mailing-list__email-outer-wrapper {
    display: flex;
    justify-content: center;
}

.mailing-list__email-inner-wrapper {
    margin: 10px;
    width: fit-content;
}

.mailing-list__label {
    display: block;
    text-align: left;
}

.mailing-list__input {
    min-width: 320px;
}

.mailing-list__submit {
    background-color: #AF2F00;
    border: none;
    border-radius: 4px;
    box-shadow: 
        0 3px 1px -2px rgba(0,0,0,.2), 
        0 2px 2px 0 rgba(0,0,0,.14), 
        0 1px 5px 0 rgba(0,0,0,.12);

    color: #ffffff;
    padding: 10px 20px;
}