<nav class='navbar'>
    <div class='navbar__menu-container'>
            <ul class='navbar__menu'>
                <li class='navbar__menuitem' routerLinkActive='navbar__menuitem--active'>
                    <a class='navbar__link' routerLink='/home' routerLinkActive='navbar__link--active'>
                        <svg class="navbar__icon bi bi-house-fill" routerLinkActive='navbar__icon--active' width="2em" height="2em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8.5 12.995V16.5a.5.5 0 01-.5.5H4a.5.5 0 01-.5-.5v-7a.5.5 0 01.146-.354l6-6a.5.5 0 01.708 0l6 6a.5.5 0 01.146.354v7a.5.5 0 01-.5.5h-4a.5.5 0 01-.5-.5V13c0-.25-.25-.5-.5-.5H9c-.25 0-.5.25-.5.495z" clip-rule="evenodd"/>
                            <path fill-rule="evenodd" d="M15 4.5V8l-2-2V4.5a.5.5 0 01.5-.5h1a.5.5 0 01.5.5z" clip-rule="evenodd"></path>
                        </svg>
                        <p class='navbar__linktext'>Home</p>
                    </a>
                </li>
                <li class='navbar__menuitem' routerLinkActive='navbar__menuitem--active'>
                    <a class='navbar__link' routerLink='/events' routerLinkActive='navbar__link--active'>                
                        <svg class="navbar__icon bi bi-calendar" routerLinkActive='navbar__icon--active' width="2em" height="2em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M16 2H4a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V4a2 2 0 00-2-2zM3 5.857C3 5.384 3.448 5 4 5h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H4c-.552 0-1-.384-1-.857V5.857z" clip-rule="evenodd"></path>
                            <path fill-rule="evenodd" d="M8.5 9a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm-9 3a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm-9 3a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path>
                        </svg>
                        <p class='navbar__linktext'>Events</p>
                    </a>
                <li class='navbar__menuitem' routerLinkActive='navbar__menuitem--active'>
                    <a class='navbar__link' routerLink='/location' routerLinkActive='navbar__link--active'>                
                        <svg class="navbar__icon bi bi-map" routerLinkActive='navbar__icon--active' width="2em" height="2em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M17.817 2.613A.5.5 0 0118 3v13a.5.5 0 01-.402.49l-5 1a.502.502 0 01-.196 0L7.5 16.51l-4.902.98A.5.5 0 012 17V4a.5.5 0 01.402-.49l5-1a.5.5 0 01.196 0l4.902.98 4.902-.98a.5.5 0 01.415.103zM12 4.41l-4-.8v11.98l4 .8V4.41zm1 11.98l4-.8V3.61l-4 .8v11.98zm-6-.8V3.61l-4 .8v11.98l4-.8z" clip-rule="evenodd"></path>
                        </svg>
                        <p class='navbar__linktext'>Location</p>
                    </a>
                </li>
                <li class='navbar__menuitem' routerLinkActive='navbar__menuitem--active'>
                    <a class='navbar__link' routerLink='/contact' routerLinkActive='navbar__link--active'>                
                        <svg class="navbar__icon bi bi-envelope-fill" routerLinkActive='navbar__icon--active' width="2em" height="2em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.05 5.555L10 10.414l7.95-4.859A2 2 0 0016 4H4a2 2 0 00-1.95 1.555zM18 6.697l-5.875 3.59L18 13.743V6.697zm-.168 8.108l-6.675-3.926-1.157.707-1.157-.707-6.675 3.926A2 2 0 004 16h12a2 2 0 001.832-1.195zM2 13.743l5.875-3.456L2 6.697v7.046z"></path>
                        </svg>
                        <p class='navbar__linktext'>Contact</p>
                    </a>
                </li>
            </ul>
    </div>
</nav>