.navbar {
  display: flex;
  justify-content: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f0eeee;
  z-index: 1;
}

.navbar__menu-container {
  width: 100%;
}

.navbar__menu {
  margin: 0;
  padding: 0;
  z-index: 100;
}

.navbar__menuitem {
  align-items: center;
  display: inline-flex;
  vertical-align: middle;
  width: 25%;
}

.navbar__menuitem--active {
  border-bottom: #4b6a88 solid 4px;
}

.navbar__link {
  color: #4f5a65;
  height: 100%;
  text-align: center;
  text-decoration-line: none;
  width: 100%;
}

.navbar__link--active {
  font-weight: bold;
  color: #4b6a88;
}

.navbar__icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display:block;
  margin-top: 4px;
  height: 30px;
  width: 100%;
}

.navbar__icon--home {
  background-image: url('/assets/home-icon--gray.png');
}

.navbar__icon-home--active {
  background-image: url('/assets/home-icon--blue.png');
}

.navbar__icon--location {
  background-image: url('/assets/location-icon--gray.png');
}

.navbar__icon-location--active {
  background-image: url('/assets/location-icon--blue.png');
}

.navbar__icon--contact {
  background-image: url('/assets/envelope-icon--gray.png');
}

.navbar__icon-contact--active {
  background-image: url('/assets/envelope-icon--gray.png');
}

.navbar__linktext {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .navbar {
    background: none;
    margin-top: 15px;
    position: relative;
  }
  
  .navbar__menu-container {
    display: inline-flex;
    max-width: 1366px;
  }

  .navbar__menu-container-helper {
    width: 100%;
  }

  .navbar__menu {
    margin: 0;
    width: 100%;
  }

  .navbar__menuitem--active {
    border-bottom: 0;
  }

  .navbar__icon {
    display: none;
  }

  .navbar__link {
    color: #fff;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
  }

  .navbar__link--active {
    font-weight: bold;
    color: #fff;
  }
}