<nav class='navbar'>
    <div class='navbar__menu-container'>
            <ul class='navbar__menu'>
                <li class='navbar__menuitem' routerLinkActive='navbar__menuitem--active'>
                    <a class='navbar__link' routerLink='/home' routerLinkActive='navbar__link--active'>
                        <i class='navbar__icon navbar__icon--home' routerLinkActive='navbar__icon-home--active'></i>
                        <p class='navbar__linktext'>Home</p>
                    </a>
                </li>
                <li class='navbar__menuitem' routerLinkActive='navbar__menuitem--active'>
                    <a class='navbar__link' routerLink='/events' routerLinkActive='navbar__link--active'>                
                        <i class="navbar__icon navbar__icon--location" routerLinkActive='navbar__icon-location--active'></i>
                        <p class='navbar__linktext'>Events</p>
                    </a>
                <li class='navbar__menuitem' routerLinkActive='navbar__menuitem--active'>
                    <a class='navbar__link' routerLink='/location' routerLinkActive='navbar__link--active'>                
                        <i class="navbar__icon navbar__icon--location" routerLinkActive='navbar__icon-location--active'></i>
                        <p class='navbar__linktext'>Location</p>
                    </a>
                </li>
                <li class='navbar__menuitem' routerLinkActive='navbar__menuitem--active'>
                    <a class='navbar__link' routerLink='/contact' routerLinkActive='navbar__link--active'>                
                        <i class="navbar__icon navbar__icon--contact" routerLinkActive='navbar__icon-contact--active'></i>
                        <p class='navbar__linktext'>Contact</p>
                    </a>
                </li>
            </ul>
    </div>
</nav>