<div class="location">
    <div class="location__wrapper">
        <div class="md-6-col fixed">
            <h4 class="location__title">Rio Suave Vineyard</h4>
            <label>Tel: </label>
            <a href="tel:9702191693" class="location__link">(970) 219-1693</a>
            <address>
                66 Rd 4556
                Blanco, NM 87412
            </address>
            <a href="https://www.google.com/maps/dir//36.760955,-107.75084/@36.7609593,-107.7530287,
            17z/data=!4m10!1m7!3m6!1s0x0:0x0!2zMzbCsDQ1JzM5LjQiTiAxMDfCsDQ1JzAzLjAiVw!3b1!8m2!3d36.760955
            !4d-107.75084!4m1!3e2" target="_blank" class="location__link">Directions</a>
            <p>When arriving from Co Rd 4556 (displayed as 4599 on Google Maps), 
                you will pass by a few homes off to the left (east side). 
                Please abide by the 5 mph speed-limit as you pass these homes. 
                Continue south for a few minutes. You will come to a T-intersection at a barn. 
                Please take a left and then the first right. The winery will be straight ahead.
            </p>
            <p>Hours</p>
        </div>
        <div class='md-6-col map__wrapper' >
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="10" mapTypeId="terrain" [streetViewControl]="false" [mapTypeControl]="true">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
        </div>
    </div>
</div>