<h1>Upcoming Events</h1>

<rs-add-event></rs-add-event>

<div class='events'>
    <table>
        <thead>
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
            <th>Remove</th>
        </thead>
        <tbody>
            <tr *ngFor="let event of events">
                <td>{{ event.name }}</td>
                <td>{{ event.dateTimeStart | date:'medium' }}</td>
                <td>{{ event.dateTimeEnd | date:'medium' }}</td>
                <td><img src="/open-iconic/svg/delete.svg"></td>
            </tr>
        </tbody>
    </table>
</div>