<nav class='navbar'>
  <ul class='navbar__list'>
      <li class='navbar__item'><a class='navbar__link' routerLink='/home' routerLinkActive='navbar__link--active'>Home</a></li>
      <li class='navbar__item'><a class='navbar__link' routerLink='/location' routerLinkActive='navbar__link--active'>Location</a></li>
      <li class='navbar__item'><a class='navbar__link' routerLink='/contact' routerLinkActive='navbar__link--active'>Contact</a></li>
  </ul>
</nav>
<div class='hero-image'>
  <div class='hero--overlay'>
      <h1>Rio Suave</h1>
      <h2>Vineyard</h2>
  </div>
</div>