.navbar {
  font-size: 1em;
  height: 50px;
  text-align: center;
  z-index: 1;
}

.navbar__list {
  margin: 0;
  padding: 0;
}

.navbar__item {
  display: inline-block;
  padding: 1em;
}

.navbar__link {
  color: #ffffff;
  text-decoration-line: none;
}

.navbar__link--active {
  font-weight: 900;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('/assets/rio-suave-vineyard-blur-960x540.jpg');
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  margin-top: -50px;
  min-height: 540px;
  z-index: 2;
}

.hero--overlay {
  color: #ffffff;
  margin: auto;
  text-align: center;
}

.hero--overlay h1, .hero--overlay h2 {
  font-weight: 100;
  margin: 0;
}

.hero--overlay > h1 {
  font-size: 3em;
}

.hero--overlay > h2 {
  font-size: 2em;
  letter-spacing: 10px;
  padding-left: 10px;
}