<nav class="transparent">
  <div id="left-subnav" class="md-4-col">
      <ul>
        <li routerLinkActive="selected"><a routerLink="/home" class="left-subnav__link">Home</a></li>
        <li routerLinkActive="selected"><a routerLink="story" class="left-subnav__link">Story</a></li>
        <li routerLinkActive="selected"><a routerLink="/contact" class="left-subnav__link">Contact</a></li>
      </ul>
  </div>
  <div id="mid-subnav" class="md-4-col">
    <h1>
      Rio Suave
    </h1>
    <h2>Vineyard</h2>
  </div>
</nav>
