<div class='home__container'>
    <div class='home__content'>
        <p>Nestled in the heart of northwest New Mexico, Rio Suave Vineyard offers picturesque views that pair well with any one of our many wines. Family-owned and operated, you can expect a warm atmosphere while overlooking the vineyard, a 150+ acre farm, and a beautiful 1,000' mesa. While you're here, keep an eye out for one of our mascots: Jones!</p>
        <a class='home__button' routerLink='/story'>Read More</a>
    </div>
<!--     <rs-artwork class='home__artwork'></rs-artwork> -->
</div>