.contact-form {
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 2em 0;
}

.contact-form__container {
    width: 80%;
}

.label {
    color: #4F4F4F;
    display: block;
}

.input {
    width: 100%;
}

.textarea {
    height: 150px;
}

.contact-form__submit-container {
    display: flex;
    justify-content: center;
}

.contact-form__submit {
    background-color: #88b375;
    border: none;
    border-radius: 4px;
    color: #fff;
}

.contact-form__submit--inactive {
    background-color: #fff;
    border: solid rgb(212, 205, 205) 1px;
    border-radius: 4px;
    color: rgb(212, 205, 205);
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #88b375; /* green */
  }

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }