.home__container {
  display: grid;
  grid-template-areas: 
    'content'
    'artwork';
}

.home__content {
  grid-area: content;
  padding: 2em 0;
  text-align: center;
}

.home__content > p {
  color: #4F4F4F;
  margin: 0;
}

.home__button {
  border: 2px solid #4F4F4F;
  border-radius: 4px;
  color: #4F4F4F;
  display: inline-block;
  padding: 10px 20px;
}

.home__button:hover {
  background-color: #4F4F4F;
  color: #ffffff;
}

.home__artwork {
  grid-area: artwork;
}

@media (min-width: 750px) {
  .home__container {
    grid-template-areas:
      'content artwork';
  }
}