<div class="header">
  <div class="header__logo">
  </div>
</div>
<div class="content">
  <div class="content__panel">
    <div class="content__panel__col">
      <div class="content__panel__col__container">
        <img src="assets/location.png" />
        <a class="link link--panel" routerLink = "/location">Location</a>
      </div>
    </div>
    <div class="content__panel__col">
      <div class="content__panel__col__container">
        <img src="assets/wine.png" />
        <a class="link link--panel" routerLink = "test">Our Wines</a>
      </div>
    </div>
    <div class="content__panel__col">
      <div class="content__panel__col__container">
        <img src="assets/donkeys.png" />
        <a class="link link--panel" routerLink = "test">Contact</a>
      </div>
    </div>
  </div>
  <div class="content__about">
    <div class="content__about__overlay">
      <h2>About Rio Suave</h2>
      <hr />
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer faucibus mattis ipsum, et malesuada eros scelerisque laoreet. Suspendisse pulvinar quis tellus id malesuada. Integer molestie ac tellus et porta. Aliquam viverra massa at sem facilisis, ut malesuada nibh sagittis. Pellentesque tincidunt est id faucibus ultricies. Donec volutpat malesuada tortor sed sollicitudin. Vestibulum at nisi orci. Quisque ut efficitur urna. Maecenas sit amet lorem nisi.</p>
      <p>Nunc nulla urna, tincidunt quis lacus id, gravida ullamcorper libero. Suspendisse non neque vehicula, laoreet urna vel, tincidunt metus. Etiam ut sollicitudin ex. Morbi quis massa fermentum, eleifend nisl non, consectetur ante.</p>
      <div>
        <a class="link link--about" href="test">Learn More</a>
      </div>
    </div>
  </div>
</div>
